version: '3.8'

services:
  node:
    build:
      context: ../Apis/apiNode # Directorio donde est치 el Dockerfile de la API
    container_name: node
    ports:
      - "3000:3000"  # El puerto 5000 de la API estar치 accesible en el puerto 5000 de la m치quina host  # La API depende de la base de datos
    networks:
      - app_network

  django:
    build:
      context: ../Apis/apiDjango/ProyectoApi # Directorio donde est치 el Dockerfile de la base de datos
    container_name: django
    ports:
      - "8000:8000"
    networks:
      - app_network

  java:
    build: 
      context: ../Apis/demo
    container_name: java
    ports:
      - "8080:8080"
    networks:
      - app_network

  apache:
    build:
      context: ../Apis/apache
    container_name: apache_proxy
    ports:
      - "80:80"
    depends_on:
      - django
      - node
    networks:
      - app_network

networks:
  app_network:
    driver: bridge
